body{
  background: #eeeeee;
  min-width: 50%;
}

.home-header-content{
  margin-top:-5%;
  background: linear-gradient(#9fc4f8, #ffe7c8);
  padding-top: 3%;
}


.home-border-content{
  background: linear-gradient(#d1f0df, #eeeeee);
  margin: 0 0 0 0;
  padding-top:50px;
  position: relative;
}

.home-body-content{
  background: #eeeeee;
  position: relative;
}

.home-footer-content{
  background: #d1f0df;
  bottom: 0;
  opacity: 60%;
  position: absolute;
}

.row{
  margin-left: auto;
  margin-right: auto;
}

.body-headings{
  color: #eb9233;
  text-align: center;
}

.copyright{
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  color: grey;
}

.home{
  margin-left:50px;
}

.navbar-custom{
  background-color: #eeeeee;
  opacity: 75%;
}

.row{
  min-width: 1920px;
  min-height: inherit;
}

nav{
  border-style: groove;
  border-width: thin;
}

h1{
  font-family: 'Meow Script', cursive;
  text-align: center;
  font-size: 5vw;
  color: #eb9233;
  font-weight: bolder;
  position: relative;
  text-shadow: -1px -1px 0 #000, 4px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


h3{
  font-family: 'Zen Maru Gothic', sans-serif;
  text-align: center;
  color: #DDDDDD;
  font-size: 40px;
  font-weight: bold;
}

form{
  padding-top: 40px;
  margin-left: -30px;
  position: absolute;
}

button{
  background-color: #9fc4f8;
  border: none;
  color: white;
  padding: 6px 18px;
  border-radius: 8px;
  transition-duration: 0.2s;
}

button:hover{
  background-color: #eb9233; /* Green */
  color: white;
}

textarea {
   resize:none;
 }


#schnauzer-image{
  width:20%;
  height: auto;
  position: relative;
  padding: 0 0 0 0;
  margin-top: 50px;
  margin-left:40%;
}


#tree-image{
  width:150%;
  height:auto;
  position: relative;
  padding: 0 0 0 0;
  margin-top:  50%;
  margin-bottom:-29%;
  margin-left: -90%;
}

#login-button{
  margin-left:200px;
}

#sun{
  width:50%;
  height: auto;
  position: relative;
  padding: 0 0 0 0;
  margin-left: 250%;
  margin-top:30%;
  margin-bottom:-38%;
}
