html{
  height: 100%;
}

body{
  background: #eeeeee;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
  margin-top: auto;
}

.container-fluid{
  padding: 0 0 0 0;
  min-height: 100%;
}

.home{
  font-size: 2vh;
}

.space{
  font-size: 2vh;
}

.products{
  font-size: 2vh;
}

.reviews{
  font-size: 2vh;
}

.contact_us{
  font-size: 2vh;
}

.home-header-content{
  min-height: 50%;
  background: linear-gradient(#9fc4f8, #ffe7c8) fixed;
  padding-top:3%;
  padding: 0 0 0 0;
  margin-top: -1%;
}


.home-border-content{
  min-height: 100%;
  background: linear-gradient(#d1f0df, #eeeeee);
  margin: 0 0 0 0;
  position: relative;
}

.home-body-content{
  background: #eeeeee;
  position: relative;
  padding-bottom:6%;
}

.home-footer-content{
  background: #d1f0df;
  bottom: 0;
  left:0;
  opacity: inherit;
  margin-top: auto;
  position: fixed;
}

.row{
  margin-left: auto;
  margin-right: auto;
}

.body-headings{
  color: #eb9233;
}

.copyright{
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  color: grey;
}


.navbar-custom{
  position: fixed;
  width:100%;
  float:none;
  display: flex;
  justify-content: space-around;
  z-index: 100;
}

.navbar-toggler{
  padding: 0 0 0 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

h1{
  font-family: 'Meow Script', cursive;
  text-align: center;
  font-size: 3vw;
  color: #eb9233;
  font-weight: bolder;
  position: relative;
  padding-bottom -10%;
  text-shadow: -1px -1px 0 #000, 4px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h2{
  font-family: 'Zen Maru Gothic', sans-serif;
  text-align: center;
  color: BLACK;
}

h3{
  font-family: 'Zen Maru Gothic', sans-serif;
  text-align: center;
  color: #eb9233;
  font-size: 32px;
  font-weight: bold;
}

hr{
  margin: 0 0 0 0;
}

button{
  background-color: #9fc4f8;
  border: none;
  color: white;
  padding: 15px 20px;
  border-radius: 8%;
  transition-duration: 0.2s;
}

button:hover{
  background-color: #eb9233; /* Green */
  color: white;
}

#schnauzer-image{
  width:6%;
  height: auto;
  position: relative;
  padding: 0 0 0 0;
  margin-top: 8%;
  margin-left:47%;
}


#tree-image{
  width:90%;
  height:auto;
  position: relative;
  padding: 0 0 0 0;
  margin-top:80%;
  margin-left: -30%;
  margin-bottom:18%;
  top:23%;
}

#sun{
  width:60%;
  height: auto;
  position: relative;
  padding: 0 0 0 0;
  margin-top:0%;
  margin-left: -650%;
  margin-right: auto;
  transform: rotateX(180deg);
  top:0;
}

@media (max-width:580px) {
  #sun{
    width:25%;
    height: auto;
    position: relative;
    padding: 0 0 0 0;
    margin-left: 0%;
    margin-top:-41%;
  }

  #tree-image{
    width:40%;
    margin-top:20%;
    margin-bottom: 3%;
    margin-left:60%;
    height:auto;
    position: relative;
  }

  #schnauzer-image{
    width:20%;
    height: auto;
    position: relative;
    padding: 0 0 0 0;
    margin-top: 15%;
    margin-left:40%;
    top:10%;
  }

  .home-header-content{
    min-height: 50%;
    background: linear-gradient(#9fc4f8, #ffe7c8) fixed;
    padding-top:3%;
    padding: 0 0 0 0;
    margin-top: -10%;
  }
}

.container{
  padding: 0 0 0 0;
  min-height: 100%;
  width: 100%;
  border: 1px dashed #eb9233;
}

#dogCollar1{
  width: 35%;
  height: auto;
  margin-left: 20%;
  margin-top: 15%;
  border-radius: 30%;
}

#p1{
  margin-left: -20%;
  margin-bottom: 0%;
  margin-top: 5%;
  text-align: center;
  text-decoration: underline;
  font-size: 26px

}

#para1{
  margin-left: 10%;
  margin-top: 20%;
  margin-bottom: 0%;
  font-size: 20px;
  font-style: oblique;
}

#para2{
  margin-left: 54%;
  margin-top: 30%;
  margin-bottom: -30%;
  font-size: 20px;
  font-weight: bold;
}

#button1{
  margin-top: 45%;
  margin-left: 50%;
}

#button2{
  margin-top: 45%;
  margin-left: 50%;
}

#button3{
  margin-top: 45%;
  margin-left: 50%;
}

#button4{
  margin-top: 45%;
  margin-left: 50%;
}

#bottom{
  margin-bottom: 6%;
}
