/*Set the height of the html page to 100%*/
html{
  height: 100%;
}

/*styling for the content in the body*/
body{
  background: #eeeeee;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
  margin-top: auto;
}

/*setting the height and width for the container*/
.container-fluid{
  padding: 0 0 0 0;
  min-height: 100%;
  width: 100%;
}

/*Set the header colour and sizing*/
.home-header-content{
  min-height: 100%;
  background: linear-gradient(#9fc4f8, #ffe7c8) fixed;
  padding-top:3%;
  padding: 0 0 0 0;
  margin-bottom: inherit;
}

/*Set gradient from green to grey below the header*/
.home-border-content{
  min-height: 100%;
  background: linear-gradient(#d1f0df, #eeeeee);
  margin: 0 0 0 0;
  padding-bottom: 3%;
  position: relative;
}

/*Colour and position of the body*/
.home-body-content{
  background: #eeeeee;
  position: relative;
  margin-bottom: -2%;
}

/*Styling for the footer*/
.home-footer-content{
  background: #d1f0df;
  bottom: 0;
  left:0;
  opacity: 60%;
  margin-top: auto;
  position: fixed;
}

/*Set margin for the rows*/
.row{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

/*Colour and text align for main title*/
.body-headings{
  color: #eb9233;
  text-align: center;
}

/*Footer text styling*/
.copyright{
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  color: grey;
}

/*Navbar styling and size*/
.navbar-custom{
  position: fixed;
  width:100%;
  float:none;
  display: flex;
  justify-content: space-around;
  z-index: 100;
}

.navbar-toggler{
  padding: 0 0 0 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*Font type and text size and positioning for main header*/
h1{
  font-family: 'Meow Script', cursive;
  text-align: center;
  font-size: 5vw;
  color: #eb9233;
  font-weight: bolder;
  position: relative;
  text-shadow: -1px -1px 0 #000, 4px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*Font type, size and positioning for the h3 tag which is the "contact us here" text*/
h3{
  font-family: 'Zen Maru Gothic', sans-serif;
  text-align: center;
  color: #DDDDDD;
  font-size: 40px;
  font-weight: bold;
}

/*margin on the horizontal break in between header and body*/
hr{
  margin: 0 0 0 0;
}

/*Padding for the form*/
form{
  padding-top: 2%;
}

/*Buton size and colour wit rounded edges*/
button{
  background-color: #9fc4f8;
  border: none;
  color: white;
  padding: 6px 18px;
  border-radius: 8px;
  transition-duration: 0.2s;
}

/*Submit form button size*/
#but{
  padding: inherit;
  text-align: center;
  padding: 6px 6px;
}

/*Change button colour when mouse cursor is over it*/
button:hover{
  background-color: #eb9233; /* Green */
  color: white;
  text-align: center;
}

/*Do not allow the text area to be resized*/
textarea {
   resize:none;
 }

/*Size and adjustments for images*/
#schnauzer-image{
  align-items: center;
  width:14%;  /*width of image*/
  height: auto; /*height of item relative to width*/
  position: relative;
  padding: 0 0 0 0;
  margin-top: 8%;
  margin-left:43%;
}


#tree-image{
  width:50%;
  height:auto;
  position: relative;
  padding: 0 0 0 0;
  margin-bottom:-10%;
  margin-left: 49.5%;
}

#sun{
  width:30%;
  height: auto;
  position: relative;
  padding: 0 0 0 0;
  margin-left: 68%;
  margin-bottom:-27%;
  margin-top: 4%;
}

/*Define different styling for use with mobile*/
@media (max-width:400px) {
  #sun{
    width:30%;
    height: auto;
    position: relative;
    padding: 0 0 0 0;
    margin-left: 70%;
    margin-top:5%;
  }

}
